<div id="sports">

    <br><br>

    {{#each sports}}

      {{#unless saved}}
      <center>
        <div class="eachCard">
          <div class="card w-75">
          <div class="card-body">
            {{!-- <h5 class="card-title">{{this.title}}</h5> --}}
            <p class="card-text">{{this.title}}</p>
            <button class="btn btn-primary saveArticle" value={{this._id}}>Save Article</a></button>
          </div>
        </div>
      </center>
      {{/unless}}

    {{/each}}

</div>




