@font-face {
    font-family: "graffiti";
    src: url("fonts/Hoodson\ free\ font\ .ttf");
}

/* html {
    font-family: graffiti;
} */

body {
    background-image: linear-gradient(to right, #F53844, #42378F);
    font-family: graffiti;
    overflow-x: hidden;
}

#main {
    display: block;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    font-size: 1.5rem;
}

.title {
    max-width: 45vw;
    /* position: absolute; */
}

/* #titleContainer {
    position: absolute;
} */

#jumbotron {
    width: 100vw;
    height: 40vh;
}

#jumboContainer {
    position: absolute;
}

#logoContainer {
    position: relative;
}
#logos {
    position: relative;
    display: block;
    margin-left: 4vw;
    /* text-shadow: 2px 2px 5px black; */
}

#espnLogo {
    position: absolute;
    margin-top: 7vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    /* display: inline-block; */
}

#scraperLogo {
    position: absolute;
    /* display: inline-block; */
    width: 50vw;
    height: auto;
    margin-top: 6vh;
    margin-left: 6vw;
    top: 10vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#sports {
    position: relative;
    display: block;
    margin-top: 40vh;
    /* align-content: center; */
}

.eachCard {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    height: 30vh;
    width: auto;
}

/* .ell {
    position: absolute;
} */

/* #espnLogo {
    position: relative;
    display: inline-block;
    float: left;
} */


/* #espnLogo {

} */

