body {
    background-image: linear-gradient(to right, #F53844, #42378F);
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

#main {
    display: block;
}

.navbar-brand {
    font-size: 1.7rem;
}

.nav-item {
    font-size: 1.2rem;
}

.title {
    max-width: 45vw;
}

#jumbotron {
    width: 100vw;
    height: 40vh;
}

#jumboContainer {
    position: absolute;
}

#logoContainer {
    position: relative;
}
#logos {
    position: relative;
    display: block;
    margin-left: 4vw;
}

#espnLogo {
    position: absolute;
    margin-top: 7vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#scraperLogo {
    position: absolute;
    width: 50vw;
    height: auto;
    margin-top: 6vh;
    margin-left: 6vw;
    top: 10vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#sports {
    position: relative;
    display: block;
    margin-top: 40vh;
}

.eachCard {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    height: 30vh;
    width: auto;
}